WORLD_NAME=usapo
COMPOSE_PROFILES=
WG0_CONF_B64=
WG_INTERFACE=wg0
WG_PERSISTENT_KEEPALIVE=25
PUID=1000
PGID=1000
TZ=Asia/Tokyo
MEMORY_LIMIT=1536m
CPU_LIMIT=1.0
SERVER_PORT=14159
SERVER_SLOTS=5
SERVER_PASSWORD=
SERVER_OWNER=
SERVER_MOTD=
PAUSE_WHEN_EMPTY=1
GIVE_CLIENTS_POWER=0
SERVER_LOGGING=1
ZIP_SAVES=1
JVM_XMS=256M
JVM_XMX=1024M
JAVA_OPTS=
AUTO_UPDATE=1
SERVER_DOWNLOAD_PAGE=https://necessegame.com/server/
SERVER_DOWNLOAD_URL=
EXTRA_ARGS=
